:root {
  --size-base: 16px;
  --size-width-multiply: 1.3;
  --size-xs: calc(var(--size-base) * 0.25);
  --size-sm: calc(var(--size-base) * 0.5);
  --size: calc(var(--size-base) * var(--size-width-multiply));
  --size-lg: calc(var(--size-base) * 2);
  --color-danger:  brightness(0) saturate(100%) invert(11%) sepia(83%) saturate(6002%) hue-rotate(358deg) brightness(112%) contrast(113%);
  --color-warning: brightness(0) saturate(100%) invert(39%) sepia(32%) saturate(3548%) hue-rotate(3deg)   brightness(110%) contrast(103%);
  --size-ts-base: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

main {
  margin: var(--size-base);
  font-size: var(--size-base);
}

h1 {
  margin: var(--size-base) 0 var(--size-base);
  text-transform: capitalize;
}

.line {
  margin-bottom: var(--size-base);
  display: flex;
  flex-flow: row wrap;
}

/* Margem na segunda linha */
.line:not(:first-child), .verse:not(:first-child) {
  margin-left: 0;
}

/* Largura das notas */
.syllable {
  display: flex;
  width: calc(var(--size) * 2);
}

.part {
  display: flex;
  flex-direction: column;
  width: var(--size);
  text-align: center;
}

.part_text {
  width: var(--size);
  height: var(--size-base);
  position: relative;
  margin-bottom: var(--size-lg);
}

/* Linha Vertical */
.part_text:before {
  content: "";
  position: absolute;
  border-left: 1px solid darkslategray;
  top: calc(var(--size-base) * 1.75);
  height: var(--size-base);
  left: 50%;
  visibility: visible;
}

.part_2 .part_text:before {
  border-left: 1px dashed darkslategray;
}

/* Linha Horizontal */
.part_text:after {
  content: "";
  position: absolute;
  border-top: 1px solid darkslategray;
  top: calc(var(--size-base) * 2.25);
  width: var(--size);
  left: 50%;
  visibility: visible;
}

.syllable:last-child .part:last-child .part_text:after {
  width: 0;
}

/* Ícones instrumentos */
.icone {
  width: var(--size-base);
  height: calc(var(--size-base) * 1.3);
}

.icone::before {
  content: "";
  display: block;
  width: var(--size-base);
  height: var(--size);
  background-size: var(--size-base) var(--size);
  background-repeat: no-repeat;
  background-position: center center;
}

.stretch {
  width: var(--size);
  height: var(--size);
}
.stretch::before {
  width: var(--size);
  height: var(--size);
  background-size: var(--size) var(--size);
  margin-left: 50%;
}

/* 8800aaff - cor padrão dos ícones */
.hyoshigi_1::before  { background-image: url(image/hyoshigi_1.svg);  }
.hyoshigi_2::before  { background-image: url(image/hyoshigi_1.svg); filter: var(--color-danger); }
.chanpon_1::before   { background-image: url(image/chanpon_1.svg);   }
.chanpon_2::before   { background-image: url(image/chanpon_2.svg);   }
.chanpon_3::before   { background-image: url(image/chanpon_1.svg); filter: var(--color-warning); }
.surigane_1::before  { background-image: url(image/surigane_1.svg);  }
.surigane_2::before  { background-image: url(image/surigane_2.svg);  }
.surigane_3::before  { background-image: url(image/surigane_1.svg); filter: var(--color-danger); }
.surigane_4::before  { background-image: url(image/surigane_2.svg); filter: var(--color-warning); }
.taiko_1::before     { background-image: url(image/taiko_1.svg);     }
.taiko_2::before     { background-image: url(image/taiko_2.svg);     }
.taiko_3::before     { background-image: url(image/taiko_2.svg); filter: var(--color-warning); }
.taiko_4::before     { background-image: url(image/taiko_1.svg); filter: var(--color-danger); }
.kotsuzumi_1::before { background-image: url(image/kotsuzumi_1.svg); }
.kotsuzumi_2::before { background-image: url(image/kotsuzumi_2.svg); }
.kotsuzumi_3::before { background-image: url(image/kotsuzumi_3.svg); }
.kotsuzumi_4::before { background-image: url(image/kotsuzumi_4.svg); }
.kotsuzumi_5::before { background-image: url(image/kotsuzumi_1.svg); filter: var(--color-danger); }
.kotsuzumi_6::before { background-image: url(image/kotsuzumi_2.svg); filter: var(--color-danger); }
.kotsuzumi_7::before { background-image: url(image/kotsuzumi_3.svg); filter: var(--color-danger); }
.kotsuzumi_8::before { background-image: url(image/kotsuzumi_4.svg); filter: var(--color-danger); }
.kotsuzumi_9::before { background-image: url(image/chanpon_2.svg); }
.fue_0::before       { background-image: url(image/fue_0.svg);       }
.fue_2::before       { background-image: url(image/fue_2.svg);       }
.fue_3::before       { background-image: url(image/fue_3.svg);       }
.fue_5::before       { background-image: url(image/fue_5.svg);       }
.fue_6::before       { background-image: url(image/fue_6.svg);       }
.fue_7::before       { background-image: url(image/fue_7.svg);       }
.fue_8::before       { background-image: url(image/fue_8.svg);       }
.koto_1::before      { background-image: url(image/koto_1.svg);      }
.koto_2::before      { background-image: url(image/koto_2.svg);      }
.koto_3::before      { background-image: url(image/koto_3.svg);      }
.koto_4::before      { background-image: url(image/koto_4.svg);      }
.koto_5::before      { background-image: url(image/koto_5.svg);      }
.koto_6::before      { background-image: url(image/koto_6.svg);      }
.koto_7::before      { background-image: url(image/koto_7.svg);      }
.koto_8::before      { background-image: url(image/koto_8.svg);      }

.bi::before {
  content: "";
  display: inline-block;
  vertical-align: -.3em;
  width: 20px; height: 20px; background-size: 20px 20px;
  filter: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(80%) contrast(80%);
}

.bi-x-circle::before                 { background-image: url(image/x-circle.svg); }
.bi-arrow-left-circle::before        { background-image: url(image/arrow-left-circle.svg); }
.bi-arrow-right-circle::before       { background-image: url(image/arrow-right-circle.svg); }
.bi-play-circle::before              { background-image: url(image/play-circle.svg); }
.bi-stop-circle::before              { background-image: url(image/stop-circle.svg); }
.bi-arrows-collapse-vertical::before { background-image: url(image/arrows-collapse-vertical.svg); }
.bi-arrows-expand-vertical::before   { background-image: url(image/arrows-expand-vertical.svg); }
.bi-zoom-in::before                  { background-image: url(image/zoom-in.svg); }
.bi-zoom-out::before                 { background-image: url(image/zoom-out.svg); }
.bi-file-earmark-music::before       { background-image: url(image/file-earmark-music.svg); }
.bi-globe-americas::before           { background-image: url(image/globe-americas.svg); }
.bi-film::before                     { background-image: url(image/film.svg); }
.bi-translate::before                { background-image: url(image/translate.svg); }

.bi-film::before, .bi-translate::before {
  vertical-align: .5em;
  width: 28px; height: 28px; background-size: 28px 28px;
  filter: var(--color-danger);
}

.bi-zoom-in::before, .bi-zoom-out::before, .bi-arrows-collapse-vertical::before, .bi-arrows-expand-vertical::before {
  vertical-align: -.15em;
  width: 16px; height: 16px; background-size: 16px 16px;
}

.bi-lg::before {
  vertical-align: -.45em;
  width: 28px; height: 28px; background-size: 28px 28px;
  filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(80%) contrast(20%);
}

.bi-white::before {
  filter: brightness(0) saturate(100%) invert(82%) sepia(66%) saturate(103%) hue-rotate(262deg) brightness(118%) contrast(100%);
}

.checkbox-label {
  margin-right: var(--size-base);
  text-transform: capitalize;
}
.checkbox-span {
  margin-right: var(--size-xs);
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

progress {
  position: absolute;
  margin-top: calc(var(--size-base) * 1.55);
  margin-left: calc(var(--size) * 0.5);
  height: calc(var(--size-base) * 1.35);
  width: var(--size);
  opacity: 0.5;
  background: #eee;
  color: #888;
}
progress::-webkit-progress-bar { background: #eee; }
progress::-moz-progress-bar { background: #888; }
progress::-webkit-progress-value { background: #888; }

.first-beat {
  margin-left: calc(var(--size) * 1.5);
}
.first-span span {
  font-size: 60px;
  line-height: 36px;
  color: #ccc;
}

audio {
  height: 24px;
  width: 300px;
}

@media (min-width: 768px) {
  * {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  .line:not(:first-child) {
    margin-left: calc(var(--size) * 4);
  }
  .verse:not(:first-child) {
    margin-left: calc(var(--size) * 2);
  }
  .open-on-hover:hover .dropdown-menu {
    display: block;
  }
}

@media (min-width: 860px) {
  audio {
    width: 400px;
  }
}